<div class="text-center">
	<div class="jumbotron text-center">
		<h3>♥♣♦♠ Katie&nbsp;the&nbsp;Card&nbsp;Lady ♠♦♣♥</h3>
		<p class="lead text-muted">
			Unveiling the Mysterious Ancient Symbology
			<br>
			Related to our Year
			<br>
			52 cards &amp; 52 weeks
			<br>
			4 suits &amp; 4 seasons
			<br>
			13 numbers &amp; 13 moons
		</p>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-sm-5 text-center">
		<form>
			<div class="form-group">
				<label for="birthday" class="lead">What's your birthday? ♥</label>
				<input #birthday type="date" class="form-control" id="birthday" value="1990-01-01">
			</div>
			<button type="submit" (click)="onBirthday(birthday.value)" class="btn btn-primary">Get card</button>
		</form>
	</div>
</div>
<br>
<div class="row justify-content-center">
	<div [ngbCollapse]="isCollapsed">
		<ngb-alert>
			You are the {{yourSolarValue}}!
		</ngb-alert>
	</div>
</div>

